.wrapper{
	margin: 30px auto;
	width: 760px;
	height: 840px;
	box-shadow: 0 0 6px rgba(0,0,0,0.8);
	}
table{
	width:100%;
	height:100%;
	}
td{
	width: 85px;
	height: 70px;
	border: 10px solid black;
}
table tr:first-child td{
  border-top: none; 
}
table tr td:first-child{
  border-left: none; 
}
table tr td:last-child{
  border-right: none;
  border-bottom: none; 
}
.down{
  border-bottom: none;
}
.yellow__section{
  background-color: #ffe959;
}
.red__section{
  background-color: #ff6439;
}
.black__section{
  background-color: #000000;
}
.blue__section{
  background-color: #155495;
}

